<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EstConsultMapper">

	<insert id="uploadConsult" parameterType="ConsultDTO">
		insert into est_consult
		values(consult_num.nextval,
		#{est_num}, #{user_id}, sysdate,
		#{cons_lat}, #{cons_lng}, #{cons_content})
	</insert>

	<select id="showConsult"  parameterType="String" resultType="ConsultDTO">
		select * from est_consult where est_num in(select est_num from est_send where user_id=#{user_id})
	</select>
	
	
	<select id="showEstimate" parameterType="String" resultType="SendDTO">
		select * from est_send where user_id = #{user_id} and est_num in(select est_num from est_consult)	
	</select>
	
	<!-- est_num으로 consult테이블 조회 -->
	<select id="showfinalConsult" parameterType="int" resultType="ConsultDTO">
		select * from est_consult where est_num = #{est_num}
	</select>
	
	<!-- est_num으로 컨설팅 받았는지 확인 -->
	<select id="checkConsult" parameterType="int" resultType="int">
		select count(cons_num) from est_consult where est_num = #{est_num}
	</select>
	

</mapper>