<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EstResponseMapper">

	<select id="gosu_responseList" resultType="SendDTO" parameterType="String">
		select * from est_send where send_country = (select act_area from user_info where user_id= #{user_id})
	</select>

	 <!-- Est_nomal_responseList 에 대해  -->
	<select id="nomal_response" resultType="SendDTO" parameterType="String">
		select * from est_send where user_id = #{user_id}
	</select>
	
	<!-- Est_nomal_response 에 대해 -->
	<select id="nomal_responseList" resultType="ResDTO" parameterType="int">
		select * from est_res where est_num = #{est_num}	
	</select>
	
	<!-- 채택된견적 보여주기-->
	<select id="showPaidlist" parameterType="String" resultType="ResDTO">
		select * from est_res where paid = 1 and user_id = #{user_id}
	</select>
	
	<!-- 채택 안된 견적 -->
	<select id="showUnPaidlist" parameterType="String" resultType="ResDTO">
		select * from est_res where paid = 0 and user_id = #{user_id}
	</select>
	
	<!-- 견적서 업로드 -->
	<insert id="GosuResponse" parameterType="ResDTO">
		insert into est_res(res_num, est_num, user_id, res_wr_date, res_content, res_fee, res_place)
		values(res_num_seq.nextVal, #{est_num}, #{user_id}, sysdate, #{res_content}, #{res_fee}, #{res_place})
	</insert>
	
	<!-- 채택된 견적 paid 1로 -->
	<update id="paidEst" parameterType="int">
		update est_res set paid = 1 where res_num = #{res_num}
	</update>
	
	<!-- res_num으로 est_res테이블 조회 -->
	<select id="showRes" parameterType="int" resultType="ResDTO">
		select * from est_res where res_num = #{res_num}
	</select>
	
	<!-- 해당 견적에 견적서 작성하였는지 검사 -->
	<select id="checkWrite" parameterType="SendDTO" resultType="int">
		select count(res_num) from est_res where user_id = #{user_id} and est_num = #{est_num}
	</select>
	
	<!-- res_num으로 아이디찾기 -->
	<select id="findId" parameterType="int" resultType="String">
		select user_id from est_res where res_num = #{res_num}
	</select>
	
</mapper>