<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EstResponseMapper">

	<select id="gosu_responseList" resultType="SendDTO" parameterType="String">
		select * from est_send where send_country = (select act_area from user_info where user_id= #{user_id})
	</select>

	 <!-- Est_nomal_responseList 에 대해  -->
	<select id="nomal_response" resultType="SendDTO" parameterType="String">
		select * from est_send where user_id = #{user_id}
	</select>
	
	<!-- Est_nomal_response 에 대해 -->
	<select id="nomal_responseList" resultType="ResDTO" parameterType="int">
		select * from est_res where est_num = #{est_num}	
	</select>
</mapper>