<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.EstSendMapper">

	<insert id="est_send" parameterType="SendDTO">
		insert into est_send values(est_send_num.nextval, #{user_id}, sysdate,
		#{send_country}, #{send_place}, #{send_s_date}, #{send_e_date},
		#{send_budget}, #{send_content}, 0)
	</insert>

	<select id="SendUserInfo" resultType="ResDTO" parameterType="String">
		select * from est_res where est_num = (select est_num from est_send where user_id = #{user_id})
	</select>
	
	<!-- 견적번호로 est_send테이블 조회 -->
	<select id="EstSend_nomalUser" resultType="SendDTO" parameterType="int">
		select * from est_send where est_num = #{est_num}
	</select>
	
	<select id="consultedEst" parameterType="String" resultType="SendDTO">
		select * from est_send where est_num in(select est_num from est_consult where est_num in(select est_num from est_send where user_id=#{user_id}))
	</select>
	
	<select id="showSend" parameterType="String" resultType="SendDTO">
		select * from est_send where user_id = #{user_id}
	</select>
	
	<!-- 견적서 채택시 해당 견적 채택완료 처리 -->
	<update id="checkEst" parameterType="int">
		update est_send set checked = 1 where est_num = #{est_num}
	</update>
	

	
	
</mapper>