<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.InfoMapper">

  <insert id="upload" parameterType="InfoDTO">
  insert into info_trade values(info_num.nextval, #{user_id}, sysdate, #{info_cate}, #{info_title}, #{info_content}, null,#{info_fee}, #{info_lat}, #{info_lng})  </insert>
    
   <select id="showInfo" parameterType="InfoDTO" resultType="InfoDTO">
   	select * from info_trade where user_id = #{user_id}
   </select> 
   
</mapper>