<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">

	<insert id="join" parameterType="UserDTO">
		insert into user_info(user_id, user_type, user_name, user_email, user_pw, act_area) 
		values(#{user_id}, #{user_type}, #{user_name}, #{user_email}, #{user_pw}, #{act_area})
	</insert>

	<select id="login" parameterType="UserDTO" resultType="UserDTO">
		select * from user_info where user_id =#{user_id} and user_pw
		=#{user_pw}
	</select>
	
	<update id="chargeCash" parameterType="CashDTO" >
		update user_info set user_cash = #{charge} where user_id = #{user_id}
	</update>
	
	<select id="userInfo" parameterType="String" resultType="UserDTO">
		select * from user_info where user_id =#{user_id}	
	</select>
	
	<update id="uploadPic" parameterType="PicDTO">
		update user_info set user_pic = #{user_pic} where user_id=#{user_id}
	</update>
	
	<update id="deletePic" parameterType="String">
		update user_info set user_pic = null where user_id = #{user_id}
	</update>
	
	<update id="buyInfo" parameterType="UserDTO">
		update user_info set user_cash = #{user_cash} where user_id = #{user_id}
	</update>
	
	<select id="duplicateId" parameterType="String" resultType="int">
		select count(user_id) from user_info where user_id=#{user_id}
	</select>
	
	
</mapper>