:root {
   /* #a7e9af */
   /* --salmon: #fb6542; */
   --salmon: #79bb81;
   --blue: white;
   /* --lemon: #ffbb00; */
   --lemon: #a7e9af;
}


button {
   background-color: white;
   outline: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.pika-single.is-hidden {
   display: none;
}

.is-inrange .pika-button,
.pika-button:hover {
   border-color: var(--salmon);
   /* background-color: rgba(254, 74, 73, 0.2); */
   background-color: #79bb8157(54, 255, 104, 0.2);
}


.is-startrange .pika-button,
.is-selected .pika-button {
   border-color: var(--salmon);
   background-color: var(--salmon);
}

.pika-table {
   width: 100%;
}

.pika-table th {
   font-size: 11px;
   padding-bottom: 8px;
}

.pika-table td {
   padding-top: 14.5%;
   position: relative;
   width: 14.25%;
}

.pika-single button {
   border: solid 1px #ddd;
   display: inline-block;
   padding: 0;
}

.pika-button {
   cursor: pointer;
   height: 100%;
   position: absolute;
   top: 0;
   width: 100%;
}

.pika-title {
   font-size: 11px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 32px;
   margin-bottom: 8px;
}

.pika-title .pika-label {
   padding-left: 8px;
}

.pika-title button {
   padding: 8px;
   position: absolute;
   top: 0;
}

.pika-title .pika-prev {
   left: 4px;
}

.pika-title .pika-next {
   right: 4px;
}

.pika-select {
   display: none;
}

.pika-lendar {
   padding: 8px;
}

.calendar__start-wrapper {
   border: solid var(--lemon) 2px;
}

.calendar__end-wrapper {
   border: solid var(--salmon) 2px;
}

.calendar {
   padding: 16px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   width: 360px;
}

.calendar__pikaday {
   background-color: white;
}

.calendar__reset {
   cursor: pointer;
   margin: 8px 0;
   padding: 16px;
   background-color: var(--lemon);
   border: solid 1px var(--lemon);
   color: #222;
   font-size: 14px;
   outline: none;
}

.calendar__reset:hover {
   /* background-color: #ffcc00; */
   background-color: #79bb81;
}

button.is-disabled,
.is-disabled .pika-button {
   color: #ccc;
   cursor: none;
   border: solid 1px #eee;
}

.calendar__input {
   padding: 16px 8px;
   margin: 4px 0;
   flex-basis: 0;
   flex-grow: 1;
   width: 100%;
}

.calendar__input:first-child {
   margin-right: 4px;
}

.calendar__inputs {
   display: flex;
   width: 100%;
}