.like__btn2 {
  border: none;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.4rem;
  max-width: 200px;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
}
.like__btn2:hover {
  background-color: rgba(231, 76, 60, 0.8);
}
/* .like__btn2:disabled {
  background-color: #d4cfcf;
  cursor: pointer;
} */

.like__icon2 {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.like__number {
  font-size: 14px;
  padding: 5px 5px 5px 0;
}

.container2 {
  display: flex;
  justify-content : space-between;
}
.bought_margin{
	margin-right: 10px;
}
.bought_margin input{
	padding: 5px 10px;
	border: none;
	background-color: #22b1f7;
	border-radius:15px;
	color: white;
}
.gray-button{
	border: none;
	background-color: #f1f1f1;
	border-radius: 15px;
	color: gray;
	padding: 5px 10px;
}
.blue-button{
	border: none;
	background-color: #75b5d5;
	border-radius:15px;
	padding: 5px 10px;
	color: white;
}